[submodule "01-node-ecosystem/demo/00-demo"]
	path = 01-node-ecosystem/demo/00-demo
	url = https://github.com/DeltaVCode-cr-401js-2018/00-demo.git
[submodule ".\\02-tools-and-context\\demo\\list"]
	path = .\\02-tools-and-context\\demo\\list
	url = https://github.com/DeltaVCode-cr-401js-2018/02-tools-and-context.git
[submodule "03-asynchronous-callbacks/demo/lab-demo"]
	path = 03-asynchronous-callbacks/demo/lab-demo
	url = https://github.com/DeltaVCode-cr-401js-2018/03-asynchronous-callbacks.git
[submodule "04-data-modeling-and-binary/demo/lab-demo"]
	path = 04-data-modeling-and-binary/demo/lab-demo
	url = https://github.com/DeltaVCode-cr-401js-2018/04-data-modeling-and-binary.git
[submodule "07-vanilla-http-server/demo/vanilla-http-server"]
	path = 07-vanilla-http-server/demo/vanilla-http-server
	url = https://github.com/DeltaVCode-cr-401js-2018/07-vanilla-http-server.git
[submodule "08-http-routing/demo/http-routing"]
	path = 08-http-routing/demo/http-routing
	url = https://github.com/DeltaVCode-cr-401js-2018/07-vanilla-http-server.git
